In [1]:
#The code  Hugging Face Transformers library we installing 
# !pip install -q transformers

In [2]:
# we installing torch library
# !pip install torch

In [3]:
# import torch and checking version or torch

import torch
torch.__version__

'2.3.0+cpu'

In [4]:
#The code installs a specific library called torch-scatter we installing specific version
# !pip install torch-scatter -f https://pytorch-geometric.com/whl/torch-1.8.0+cu101.html

In [5]:
#THis library using for filterwarnings
import warnings
warnings.filterwarnings("ignore")

In [6]:
from transformers import pipeline # we import pipeline using transfromer library
import pandas as pd # we installing library pandas for dataframe

In [7]:
 # we creates a pipeline specifically designed for answering questions based on a table using a pre-trained model. 
pipe = pipeline(task="table-question-answering",model="google/tapas-base-finetuned-wtq")

In [8]:
#uploading csv 
table=pd.read_csv("pp.csv")

In [9]:
# converts the data types of all elements in a pandas DataFrame (table) to strings
table = table.astype(str)

In [10]:
table

,POS,Player,Team,Span,Innings,Runs,Highest_Score,Average,Strike_Rate
0,1,Sachin Tendulkar,India,1989-2012,452,18426,200,44.83,86.23
1,2,Kumar Sangakkara,Sri Lanka,2000-2015,380,14234,169,41.98,78.86
2,3,Ricky Ponting,Australia,1995-2012,365,13704,164,42.03,80.39
3,4,Sanath Jayasuriya,Sri Lanka,1989-2011,433,13430,189,32.36,91.2
4,5,Mahela Jayawardene,Sri Lanka,1998-2015,418,12650,144,33.37,78.96
5,6,Virat Kohli,India,2008-2020,236,11867,183,59.85,93.39
6,7,Inzamam-ul-Haq,Pakistan,1991-2007,350,11739,137,39.52,74.24
7,8,Jacques Kallis,South Africa,1996-2014,314,11579,139,44.36,72.89
8,9,Saurav Ganguly,India,1992-2007,300,11363,183,41.02,73.7
9,10,Rahul Dravid,India,1996-2011,318,10889,153,39.16,71.24

In [11]:
#The code provid combines the previously explained functionalities to answer a question about a table using a pre-trained model
query = "Who has scored the highest runs?"
print(pipe(table=table,query=query)["answer"])

Sachin Tendulkar

In [15]:
#The code you provided combines user input and table-based question answering
query=input("type the Question: ")
print(pipe(table=table,query=query)["answer"])

type the Question:  which player make average runs 33.37

Mahela Jayawardene